/* styles.css */

body,html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 90.67px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 90.67px;
}

nav {
  background-color: #444;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.hero {
  background-image: url('bgrd.jpg'); /* Add your hero image */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.heroHome {
  background-image: url('../images/image4.jpg');
  background-size: contain;
  background-position: center;
  height: 302.5px;
  margin: 0; /* Set margin to zero */
  padding: 0; /* Set padding to zero */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff; /* Set text color to contrast with the background image */
}


.about, .services, .contact, .tools {
  padding: 50px 20px;
  text-align: center;
}



/** Drop down changes starts **/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

