/* styles.css */

body,html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; 
  overflow-x: hidden; 
}

header {
  margin: 0;
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 90.67px;
}

/* Adjust margin and padding for nav */
nav {
  margin: 0;
  padding: 10px 0;
  background-color: #444;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.hero {
  background-image: url('bgrd.jpg'); /* Add your hero image */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
.hero p {
  margin-left: 40px; /* Adjust as needed */
  margin-right: 40px; /* Adjust as needed */
}

.heroHome {
  background-size: contain;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  height: auto;
}



.about, .services, .contact, .tools {
  padding: 50px 20px;
  text-align: center;
}



/** Drop down changes starts **/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.carousel-caption.caption-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px; 
  color: #fff; /* Text color */
}
.carousel-inner {
  max-width: 100%; /* Ensure the carousel does not overflow */
  height: 600px; /* Adjust as needed */
  overflow: hidden;
}


/* Add the following code for responsive adjustments */
/* Add the following code for responsive adjustments */
@media (max-width: 768px) {
  header, footer, nav {
    width: 100%; /* Ensure header, footer, and nav take up full width on smaller screens */
  }

  .carousel-inner {
    height: auto !important;
	overflow: hidden; 
	max-width: 100%; 
  }

  header {
    margin: 0;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    height: auto !important;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set a minimum height of the viewport */
    overflow-x: hidden; /* Hide horizontal overflow */
  }

  main {
    flex: 1; /* Allow the main content area to grow and fill remaining space */
    padding-bottom: 100px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    margin-top: auto; /* Keep the footer at the bottom */
  }

  .hero {
    padding: 50px; /* Inside media query */
  }
}

